// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-label, ion-card-subtitle, ion-card-title, .sc-ion-card-md-h, ion-title{ //Créer une classe pour le texte blanc plutôt que tout viser individuellement
  --color: #fff !important;
}

.white-text{
   --color: #fff !important;
   color: #fff;
 }
.muteSound{
  --color: #fff !important;
  color: #fff;
}
.gameStart{
  max-width: 200px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin: 30px 0;
}
.flag-container ion-item img{
  max-height: 40px;
}
.container{
  padding: 15px;
}
.explainer{
  padding: 15px;
}
.explainer p{
  color: white;
  margin: 0;
}
.explainer hr{
  background: rgba(255,255,255,0.5);
  margin-top: 20px;
}
input.native-input{
  background-color: #41454D !important;
  margin: 0 10px !important;
  border-radius: 5px !important;
}
div.item-highlight{
  --highlight-background: #c9475fff !important;
  --highlight-color-valid: #c9475fff !important;
  --ion-color-success: #c9475fff !important;
  --highlight-color-focused: #c9475fff !important;
  --ion-color-primary: #c9475fff !important;
}
