<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="white-text">
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-list>
      <h1 class="white-text">{{myPseudo}}</h1>
      <div class="profil-section">
        <h2 class="white-text">Titres</h2>
        <div *ngFor="let title of myTitles" class="white-text">
          {{title}}
          <span>Terminer le niveau ...</span>
        </div>
      </div>
      <div class="profil-section">
        <h2 class="white-text">Badges</h2>
        <div *ngFor="let badge of myBadges" class="white-text">
          {{badge}}
          <span>Créer une partie</span>
        </div>

      </div>
    </ion-list>
  </div>
</ion-content>
