<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="white-text">
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <h2 class="white-text">Mes titres</h2>
    <ion-item *ngFor="let title of myTitles" class="white-text">
      {{title}}
    </ion-item>
    <h2 class="white-text">Mes badges</h2>
    <ion-item *ngFor="let badge of myBadges" class="white-text">
      {{badge}}
    </ion-item>
  </ion-list>
</ion-content>
