<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="white-text">Camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner-views">
    <ion-img src="/assets/banner-camera.png"></ion-img>
  </div>
  <div class="explainer">
    <p>En enquêtant dans la zone du meurtre, vous trouver un indice d'une importance capitale. Cela pourraît bien être la preuve qui déliera la langue de Mr Smith.</p>
    <hr>
  </div>

  <div class="container">
    <ion-button (click)="takePhoto()">
      Prendre l'indice en photo
  </ion-button>

  <ion-button (click)="getPhoto()">
    Récupérer une photo de l'indice dans votre gallerie
  </ion-button>

  <!-- <div hideWhen="ios">
      <ion-img src={{myphoto}}></ion-img>
  </div> -->
  
      <!-- <img src={{myphoto}}> -->
      <ion-img *ngIf="myphoto" src={{myphoto}}></ion-img>


  <div>
    <ion-button (click)="ownbadge()" routerLink="/micro" routerDirection="root" >Retourner voir Mr Smith</ion-button>
  </div>

</div>


</ion-content>
