<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="white-text">Camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner-views">
    <ion-img src="/assets/banner-camera.png"></ion-img>
  </div>
  <div class="explainer">
    <p>Vous vous appercevez que certains de vos contacts ne sont peut être pas ceux que vous imaginiez. Consultez vos contact pour trouver le traitre et l'interroger.</p>
    <hr>
  </div>

  <div class="container">
    <ion-button (click)="takePhoto()">
      Prendre une photo
  </ion-button>

  <ion-button (click)="getPhoto()">
    Récupérer dans la galerie
  </ion-button>

  <!-- <div hideWhen="ios">
      <ion-img src={{myphoto}}></ion-img>
  </div> -->
  
      <!-- <img src={{myphoto}}> -->
      <ion-img *ngIf="myphoto" src={{myphoto}}></ion-img>


  <div>
    <ion-button (click)="ownbadge()" routerLink="/micro" routerDirection="root" >Valider la camera</ion-button>
  </div>

</div>


</ion-content>
