<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="white-text">Orientation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
<!-- 
  <ion-button (click)="setToLandscape()">Set to Landscape</ion-button>

  <ion-button (click)="setToPortrait()">Set to Portrait</ion-button> -->

  <ion-button (click)="getOrientation()">get Orientation</ion-button>

  <div>
    <p>Orientation : {{orientation}}</p>
  </div>

  <div>
    <div *ngIf="condition; else elseBlock">Content to render when condition is true.</div>
    <ng-template #elseBlock>Content to render when condition is false.</ng-template>
  </div>
</ion-content>
