<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="white-text">Orientation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<div *ngIf="orientation == 'portrait-primary'">
  Vous êtes en mode portrait
</div>
<div *ngIf="orientation == 'landscape-primary'">
  Vous êtes probablement allongé sur votre côté gauche
</div>
<div *ngIf="orientation == 'landscape-secondary'">
  Vous êtes probablement allongé sur votre côté droit
</div>

</ion-content>
