<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="white-text">Orientation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div>
    test landscape
  </div>
  <div >
    test portrait
  </div>



  <ion-button (click)="setToLandscape()">Set to Landscape</ion-button>

  <ion-button (click)="setToPortrait()">Set to Portrait</ion-button>

  <div>
    <p>Orientation : {{orientation}}</p>
  </div>
</ion-content>
