<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title class="white-text">
            Menu
          </ion-title>
          <ion-button (click)="muteUnmute()" class="muteSound" class="white-text">
            <ion-icon name={{isMutedIcon}}></ion-icon>
          </ion-button>

          <div class="language-container {{className}}">
            <span *ngFor="let lng of languages" detail="false">
              <img [src]="lng.img" *ngIf="lng.value == selected" slot="start" (click)="changeClass()">
            </span>
            <ion-list class="flag-container">
              <ion-item button *ngFor="let lng of languages" (click)="select(lng.value)" detail="false">
                <img [src]="lng.img" slot="start">
                <ion-label text-wrap>
                  {{ lng.text }}
                </ion-label>
                <ion-icon slot="end" name="checkmark" *ngIf="lng.value == selected"></ion-icon>
              </ion-item>
            </ion-list>
          </div>


        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" class="white-text">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label class="white-text">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
