<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="white-text">Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner-views">
    <ion-img src="/assets/banner-contact.png"></ion-img>
  </div>
  <div class="explainer">
    <p>Vous vous appercevez que certains de vos contacts ne sont peut être pas ceux que vous imaginiez. Consultez vos contact pour trouver le traitre et l'intérroger.</p>
    <hr>
  </div>
  <div class="container">
    <ion-button (click)="ownbadge()" routerLink="/camera" routerDirection="root" >Valider les contacts</ion-button>
  </div>
</ion-content>
