<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/banner.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Commencer l'aventure</ion-card-subtitle>
        <ion-card-title>Peuzeul</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Un jeu qui vous fera utiliser toutes les fonctionnalités de votre téléphone pour résoudre une enquète.</p>
      </ion-card-content>
    </ion-card>
</ion-content>

<ion-button>Démarrer la partie</ion-button>
