<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="white-text">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item button *ngFor="let lng of languages" (click)="select(lng.value)" detail="false">
        <img [src]="lng.img" slot="start">
        <ion-label text-wrap>
          {{ lng.text }}
        </ion-label>
        <ion-icon slot="end" name="checkmark" *ngIf="lng.value == selected"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-card class="welcome-card">
      <ion-img src="/assets/banner.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle class="white-text">{{ strings[selected].title }}</ion-card-subtitle>
        <ion-card-title class="white-text">Peuzeul</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ strings[selected].description }}</p>
      </ion-card-content>
    </ion-card>

  <ion-item>
    <ion-label>Quel est ton pseudo ?</ion-label>
    <ion-input type="text" [(ngModel)]="name" class="white-text" id="input" (ionChange)='updateprofileName()'></ion-input>
  </ion-item>

  <ion-button class="gameStart" routerLink="/contact" routerDirection="root" >{{ strings[selected].cta }}</ion-button>
</ion-content>